.text-center {
  text-align: center;
}

.form-control[disabled] {
  background-color: #FFF
}

.validate {
  display: none;
}

.passValidate {
  background-image: -webkit-linear-gradient(top,#5cb85c 0,#419641 100%);
  background-image: -o-linear-gradient(top,#5cb85c 0,#419641 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#5cb85c),to(#419641));
  background-image: linear-gradient(to bottom,#5cb85c 0,#419641 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff419641', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
  border-color: #3e8f3e;
  color: #fff;
}

.failValidate {
  background-image: -webkit-linear-gradient(top,#d9534f 0,#c12e2a 100%);
  background-image: -o-linear-gradient(top,#d9534f 0,#c12e2a 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#d9534f),to(#c12e2a));
  background-image: linear-gradient(to bottom,#d9534f 0,#c12e2a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc12e2a', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
  border-color: #b92c28;
  color: #fff;
}